main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: calc(100vh - 75px);
    overflow: hidden;
}

#chat-sidebar {
    width: 30%;
    height: 100%;
    border-right: var(--color-primary) 1px solid;
    overflow-y: scroll;
    overflow-x: hidden;
}

#chat-sidebar > div:not(#chat-create-wrapper) {
    padding: 15px 25px;
    cursor: pointer;
    transition: 0.2s ease background-color;
    display: flex;
    align-items: center;
}

#chat-sidebar > div:not(#chat-create-wrapper):hover {
    background-color: var(--color-focused);
}

#chat-sidebar > div:nth-last-of-type(2) {
    margin-bottom: 100px;
}

#chat-sidebar > div:not(#chat-create-wrapper) > div:first-of-type > img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    margin-right: 15px;
}

#chat-sidebar > div:not(#chat-create-wrapper) > div:last-of-type > * {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: medium;
    width: calc(30vw - 100px);
}

#chat-focused {
    background-color: var(--color-background-secondary);
}

#chat-create-wrapper {
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: calc(30vw - 50px);
}

#chat-create-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#chat-create-button > img {
    height: 25px;
    border-radius: 25px;
    overflow: hidden;
    margin-right: 10px;
}

#chat-main {
    width: 70%;
}

#chat-no-chat-opened {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#chat-no-chat-opened > div > b {
    font-size: xx-large;
}