.app-home-upcoming-assignments-entry {
    background-color: var(--color-background-secondary);
    padding: 15px;
    border-radius: 25px;
}

.app-home-upcoming-assignments-entry:not(:last-of-type) {
    margin-bottom: 10px;
}

.app-home-upcoming-assignments-divider {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px
}

.app-home-upcoming-assignments-divider > div:first-of-type {
    white-space: nowrap;
}

.app-home-upcoming-assignments-divider > div:last-of-type {
    width: 100%;
    height: 1px;
    background-color: var(--color-primary);
}

.app-home-checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    border: 2px solid var(--color-primary);
    border-radius: 7px;
    background: var(--color-background-secondary);
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    transition: border-color 0.2s, background 0.2s;
    margin-right: 12px;
}

/*.app-home-checkbox:checked {*/
/*    background: var(--color-primary);*/
/*    border-color: var(--color-primary);*/
/*}*/

.app-home-checkbox:checked::after {
    content: '';
    display: block;
    position: absolute;
    left: 4px;
    top: 0;
    width: 15px;
    height: 25px;
    border: solid var(--color-primary);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translateY(-10px) translateX(-11px);
}

.app-home-recent-docs-entry {
    display: flex;
    align-items: center;
    background-color: var(--color-background-secondary);
    border-radius: 25px;
    height: 40px;
    padding: 25px;
}

.app-home-recent-docs-entry > img {
    height: 100%;
    aspect-ratio: 1 / 1;
    margin-right: 15px;
}

/* TODO: Remove, just for testing the design */

.class-nametag-ch > div {
    background-color: rgba(255, 211, 0, 0.25);
    border-color: rgb(255, 211, 0);
}
.class-nametag-d > div {
    background-color: rgba(255, 0, 0, 0.25);
    border-color: rgb(255, 0, 0);
}
.class-nametag-m > div {
    background-color: rgba(255, 110, 241, 0.25);
    border-color: rgb(255, 110, 241);
}
